
<div class="ml-2 student-list">
  <h3>Students list</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>StudentId</th>
      <th>StudentClass</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of StudentsData">
      <td>{{student.Id}}</td>
      <td>{{student.Description}}</td>
      <td>{{student.Name}}</td>
      <td><button (click)="DeleteRow(student)" class="btn btn-danger btn-sm">Delete </button></td>
    </tr>
</table>
<button  md-button (click)="openDialog()">Add Student</button>
  <a href="/add-student" routerLinkActive="active">add-student</a>
</div>